/*
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Monoton', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Montez', cursive;
font-family: 'Cormorant Unicase', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Monofett', cursive;
font-family: 'Uncial Antiqua', cursive;
*/

body {
	background-image: url(images/jukebox-cds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 2em;
	-webkit-text-stroke: 1px black;
}

.container-fluid {
	text-align: center;
}

.jumbotron {
	background: rgba(0, 0, 0, 0.0);
	padding: 0px;
	text-align: center;
	font-family: 'Monofett', cursive;
	color: white;
	-webkit-text-stroke: 1px white;
}

.jumbotron h1 {
	font-size: 100px;
	letter-spacing: 10px;
	background: -webkit-linear-gradient(left top, red, purple, blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.col-sm-6 {
	border-color: white;
	border-width: 5px;
	word-wrap: break-word;
}

fieldset {
	margin-bottom: 20px;
	background: rgba(0, 0, 0, 0.4);
	color: black;
	font-size: 1em;
	font-weight: normal;
	border: 1px solid clear;
	border-radius: 15px;
}

.searchLabel, legend {
	color: white;
	-webkit-text-stroke: 0.5px black;
	font-weight: bold;
}

.searchSpan {
	padding: 30px;
}

.searchInput {
	background-color: #cccccc;
	border-radius: 5px;
	color: #393939;
	-webkit-text-stroke: 0.5px #393939;
	
}

#submitBtn {
	background-color: #b2b2e7;
	padding: 9px 20px;
	margin: 10px;
	border-radius: 5px;
}

#submitBtn:hover {
	background-color: #7f7fd8;
}

#results {
	background: rgba(0, 0, 0, 0.4);
	word-wrap: break-word;
	border-radius: 10px;
	text-align: center;
}

